.TableGrid {
    display: grid;
    grid-template-areas: " peers peers peers tasks " " tips tips tips tips " " keys all-msgs all-msgs all-msgs";
    grid-template-rows: 500px 500px 500px;
    grid-gap: 10px;
    height: 100%;
}

.TableGridChainCommit {
    display: grid;
    grid-template-areas: " commit-groups ";
    grid-template-rows: 100%;
    grid-gap: 10px;
    height: 100vh;
}

.Main {
    height: 100%;
}

.App {
    height: 100vh;
}