{
    "bitcoin": {
        "url": "http://127.0.0.1:$BTCPORT",
        "auth": {
            "CookieFile": "$BITCOIN_DIR/signet/.cookie"
        }
    },
    "app_instance": "testing-$PLAYER",
    "event_log": {
        "app_name": "testing-$PLAYER",
    },
    "db_app_name": "testing-$PLAYER",
}