.App-header {
    background-color: #227b6c;
    min-height: 10vh;
    font-size: calc(10px + 1vmin);
    color: white;
    justify-content: space-evenly;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3em;
}

.App-header>* {
    text-align: center;
}

.MuiOutlinedInput-root {
    background-color: white
}