.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
    height: 100%;
}

.Content {
    display: flex;
    flex-direction: row;
}

.GlobeContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.GlobeContent>div {
    margin: 6px;
}

.MuiTabs-root {
    display: flex;
}

.DataDisplay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 30vw;
    max-width: 55vw;
}

.DataDisplay>div {
    min-width: inherit;
    max-width: inherit;
}

.MoveForm {
    min-height: 20vh;
}

.MoveForm>form {
    min-height: 20vh;
}

.PlantTypes {
    display: flex;
    flex-direction: row;
}