.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
}

.InventoryTitle {
    padding: 1em;
    background-color: lightgreen;
}

.MaterialsMarketTitle {
    padding: 1em;
    background-color: coral;
}

.Content {
    display: flex;
    flex-direction: row;
}

.GlobeContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.GlobeContent>div {
    margin: 6px;
}

.GlobeToggles {
    padding: 5px;
}

.MuiTabs-root {
    display: flex;
}

.DataDisplay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 30vw;
    max-width: 55vw;
}

.DataDisplay>div {
    min-width: inherit;
    max-width: inherit;
}

.BoardJson {
    min-height: 400px;
}

.MoveForm {
    min-height: 20vh;
}

.MoveForm>form {
    min-height: 20vh;
}

.PlantTypes {
    display: flex;
    flex-direction: row;
}

.ticker {
    display: flex;
    background-color: greenyellow;
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%
}

.StatusTickerText {
    white-space: nowrap;
}